

<li class="nav-item">
    <a class="nav-link" routerLink="/register" routerLinkActive="active" ><h5 style="color: white;">Employee-Register</h5></a>
  </li>


<li class="nav-item">
    <a class="nav-link" routerLink="/login" routerLinkActive="active" ><h5 style="color: white;">Employee-Login</h5></a>
  </li>
  
   <!-- <li class="nav-item" *ngIf="!loggedin()">
        <a class="nav-link" routerLink="/register" routerLinkActive="active"><h5>Register</h5> </a>
      </li>
      <li class="nav-item" *ngIf="loggedin()">
        <a class="nav-link" (click)="onlogout()" routerLink="/login" routerLinkActive="active" style="color: red;"><h5>Logout</h5></a>
      </li>

      <li class="nav-item" *ngIf="!loggedin()">
        <a class="nav-link" routerLink="/login" routerLinkActive="active"><h5>Login</h5> </a>
      </li> -->