<div class="card">
<div id="bg">
    <h2 style="color: white;">Attendence List</h2>
</div>
<div>
<input  type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" style="margin:10px;">Search</button>
        
        <button class="btn btn-outline-success" type="submit" >reset</button>

    </div>




        <table class="table" style="color: white;">
            <thead class="thead-dark" style="color: white;">
              <tr style="color: white;">
                <th scope="col" style="color: white;">EmployeeID</th>
                <th scope="col" style="color: white;">Name</th>
            <th scope="col" style="color: white;">Email</th>
            <th scope="col" style="color: white;">Date</th>
            <th scope="col" style="color: white;">Status</th>
              </tr>
            </thead>
            <tbody style="color: white;">
              <tr style="color: white;">
                <th scope="row" style="color: white;">1</th>
                <td style="color: white;">Jayashri  Shivaji Mankar</td>
                <td style="color: white;">jaya@gmail.com</td>
                <td style="color: white;">08/03/2021</td>
                <td style="color: white;">present</td>
              </tr>
             
            </tbody>
          </table>

          <div>
          <button class="btn btn-primary" type="submit" style="margin:10px;"> << Previous</button>
          <button class="btn btn-success" type="submit" style="margin:5px;"> New</button>
        
          <button class="btn btn-danger" type="submit" style="margin:10px;">Delete</button>
        <button class="btn btn-primary" type="submit" style="margin:10px;">Next >></button>
          </div>
          </div>

    


