

    <div class="card">
    <div id="bg">
        <h2 style="color: white;">Salary</h2>
    </div>
    
    
    
    
    
    
            <table class="table" style="color: white;">
                <thead class="thead-dark" style="color: white;">
                  <tr style="color: white;">
                    <th scope="col" style="color: white;">Employee ID</th>
                    <th scope="col" style="color: white;">Month</th>
                <th scope="col" style="color: white;">Amount</th>
                
                  </tr>

                  <tbody style="color: white;">
                    <tr style="color: white;">
                      <th scope="row" style="color: white;">165674</th>
                      <td style="color: white;">February</td>
                      <td style="color: white;">30000</td>
                      
                    </tr>
                   
                  </tbody>
                </table>
             
    
              <div>
              <button class="btn btn-primary" type="submit" style="margin:10px;"> << Previous</button>
              <button class="btn btn-success" type="submit" style="margin:5px;"> New</button>
            
              <button class="btn btn-danger" type="submit" style="margin:10px;">Delete</button>
            <button class="btn btn-primary" type="submit" style="margin:10px;">Next >></button>
              </div>
              </div>
    
        
    
    
    