
<li class="nav-item">
    <a class="nav-link" routerLink="/employeeattendance" routerLinkActive="active" ><h5 style="color: white;">Attendance</h5></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/leave" routerLinkActive="active" ><h5 style="color: white;">Leave</h5></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/sal" routerLinkActive="active" ><h5 style="color: white;">Salary</h5></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/reports/:id" routerLinkActive="active" ><h5 style="color: white;">Reports</h5></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/employeepage" routerLinkActive="active" ><h5 style="color: white;">Employee</h5></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/employeer" routerLinkActive="active" ><h5 style="color: white;">ADD-Employee</h5></a>
  </li>