<p>admin-l works!</p>

<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <h1>Login</h1><hr>
          </div>
         

          <form #loginForm='ngForm' >
            
            <br>
            <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3" style="color: white;">Email address</label>
                <input type="email" class="form-control" placeholder="Enter your Email" required="required"
                    ngModel name="email" [(ngModel)]="loginsForm.email" #email="ngModel">
                <span *ngIf="email.invalid && email.touched"
                    class="error form-control-feedback text-danger">
                    E-mail is required
                </span>
            </div>


            <div class="form-outline mb-3">
                <label class="form-label" for="form3Example4">Password</label>
                <input type="password" class="form-control" placeholder="Enter your Password" 
                    ngModel
                    name="password" [(ngModel)]="loginsForm.password" #password="ngModel">
               
            </div>
            <div class="d-flex justify-content-between align-items-center">

                <div class="form-check mb-0">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                    <label class="form-check-label" for="form2Example3" style="color: white;">
                        Remember me
                    </label>
                </div>
              
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
                <button (click)="onLogin(loginForm)" [disabled]="!loginForm.valid" type="submit"
                    class="btn btn-primary btn-block">Login</button>
                
            </div>

        </form>
          <a routerLink="/adminr" >New User? click here to Register !</a><br/>
          <a routerLink="/Passwordreset">Forgot Password? click here !</a>
        </div>
      </div>
    </div>
  </div>
